<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <link rel="stylesheet" href="../../static/css/music.css">
    <style>
        iframe {
            width: 60vw;
            height: 40vw;
            position: relative;
            left: 20vw;
        }
    </style>
</head>

<body style="margin: 0px; " class="bgimg">
    <iframe src="//player.bilibili.com/player.html?aid=596728382&bvid=BV14B4y197mc&cid=721871595&page=1" scrolling="no"
        border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    <br><br><br>
    <iframe src="//player.bilibili.com/player.html?aid=811522389&bvid=BV1B34y1h7XG&cid=723833284&page=1" scrolling="no"
        border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
</body>




</html>